
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 class="text-danger">AccessDenied</h1>
<p>You do not have permission to View this page.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>

